/*---------------*/
/* about section */
/*---------------*/

#about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end; /* align both cols to bottom */
  margin-top: 2rem;
  gap: 1.5rem;
}

.abt-group {
  padding: 1rem;
}

/*-----------*/
/* left side */
/*-----------*/

#left-abt-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

.about-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

#name-tag {
  padding-top: 0.5rem;
}

#education-container {
  border: 2px solid #efe9e9;
  border-radius: 8px;
  padding: 1rem;
}

.edu {
  line-height: 1.5;
  vertical-align: middle;
}

/*------------*/
/* right side */
/*------------*/
#personal-description{
  border: 2px solid #efe9e9;
  border-radius: 8px;
  padding: 1rem;
}

.about-paragraph {
  line-height: 1.5;
}