/*****************/
/* about section */
/*****************/

#about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end; /* align both cols to bottom */
  margin-top: 2rem;
  gap: 1.5rem;
}

#left-abt-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

.about-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#name-tag {
  padding-top: 0.5rem;
}

#education-container {
  border: 2px solid #efe9e9;
  border-radius: 8px;
  padding: 1rem;
}

.edu {
  padding: 0.25rem;
}

.abt-group {
  padding: 1rem;
}

#personal-description{
  border: 2px solid #efe9e9;
  border-radius: 8px;
  padding: 1rem;
}

#skills-container {
  padding-top: 3rem;
}

.about-paragraph {
  line-height: 1.3;
}

.skills-label {
  white-space: nowrap;
}

.skills-pair {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 0;
}

.skills-list {
  list-style: none;
  display: flex;
  padding: 0.25rem 1rem;
  font-size: 1.25rem;
  display: flex;
  gap: 1rem;
  border: 2px solid #efe9e9;
  border-radius: 50px;
}

.skills-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}