/*---------------*/
/* about section */
/*---------------*/
#about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end; /* align both cols to bottom */
  gap: 5rem;
}

/*-----------*/
/* left side */
/*-----------*/
#left-abt-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

.about-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

#name-tag {
  padding-top: 0.5rem;
}

#education-container {
  padding: 0.5rem 0.75rem;
  /* glassmorphism effect */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.edu {
  line-height: 1.5;
  vertical-align: middle;
}

/*------------*/
/* right side */
/*------------*/
#right-abt-col {
  padding: 1rem 1.5rem;
  /* glassmorphism effect */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.about-paragraph {
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}