/*---------------------------------------*/
/* Reset margins/paddings for blank base */
/*---------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------*/
/* scroll behaviour */
/*------------------*/
html {
  scroll-behavior: smooth;
}

/*------------------------*/
/*  Font default setting  */
/*------------------------*/
h1, h2, h3, h4, h5, h6, p {
  font-family: "Poppins", sans-serif;
  margin: 0;
  line-height: 1;
  font-weight: 300;
  color: #1e1e1f;
}

/* Responsive Font Sizes */
h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
}

h4 {
  font-size: clamp(1.125rem, 3vw, 1.5rem);
}

h5 {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

h6 {
  font-size: 1rem;
}

/* Paragraphs */
p {
  font-size: 1rem;
}

/*--------------------*/
/* base button styles */
/*--------------------*/
button {
  display: inline-block;
  color: #2a2a2b;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-family: inherit;
}

/*-----------------*/
/* base icon style */
/*-----------------*/
.icon {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  font-size: 1.75rem;
  color:#2a2a2b;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1;
}

/*--------*/
/*  body  */
/*--------*/
body {
  background-color: #efe9e9;
  color:#1e1e1f;
  font-family: "Poppins", sans-serif;
  /* background-image: url("../images/holo.png"); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*----------------*/
/*    content     */
/*----------------*/
.site-content {
  padding: 0 clamp(1rem, 5vw, 6rem);
  max-width: 1300px; /* set site-wide max width */
  margin: 0 auto; /* keep content centered on XL screens*/
}

/*----------*/
/* sections */
/*----------*/
.section {
  scroll-margin-top: 6rem;
  height: fit-content;
  padding: 2rem 0;
}

.section-heading {
  margin-bottom: 1.75rem;
  font-weight: 400;
}

.section-content {
  padding-left: 3.5rem;
}

/* mobile styling */
@media screen and (max-width: 768px) {
  .section-content {
    padding-left: 0;
  }
}