/*-----------------*/
/* contact section */
/*-----------------*/
#contact-heading {
  color: #1e1e1f;
}

#contact-subtitle {
  line-height: 1.2;
  padding-bottom: 1rem;
  color: #1e1e1f;
}

/*------*/
/* form */
/*------*/
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 1rem;
  padding: 1rem 2.5rem;
  margin-top: 1rem;
  /* glassmorphism effect */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-group {
  display: flex;
  align-items: center; /* vertically center items */
  gap: 1rem;
}

.input-group input, 
.input-group textarea {
  flex: auto;
  border: 2px solid transparent !important; 
  outline: none;
  font-size: 1rem;
  padding: 0.75rem;
  font-family: inherit;
  border-radius: 8px !important;
}

.input-group input:focus,
.input-group textarea:focus {
  border: 2px solid #1e1e1f;
  box-shadow: 0 0 5px #1e1e1f;
  border-radius: 8px !important;
}

.input-group textarea {
  resize: vertical;
  min-height: 150px;
}

.form-icon {
  font-size: 2rem;
  color: #1e1e1f;
}

.textarea-group {
  align-items: flex-start;
}

.mssg-icon {
  padding-top: 0.25rem;
}

/*------------*/
/* form error */
/*------------*/
.error {
  border: 2px solid red !important;
  border-radius: 8px !important;
}

/*-------------*/
/* send button */
/*-------------*/
#form-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#send-btn {
  font-size: 1rem;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.send-icon {
  color: #1e1e1f;
  font-size: inherit;
  display: inline-block;
}