/*--------*/
/* footer */
/*--------*/
footer {
  margin-top: 2rem;
  background-color: #2a2a2b;
  color: #efe9e9;
}

.footer-content {
  display: flex;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#footer-left,
#footer-right {
  display: flex;
  width: 50%;
}

#footer-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

#footer-left {
  flex-direction: column;
  gap: 0.75rem;
}

/*----------------*/
/* link list menu */
/*----------------*/
#footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-nav-link {
  text-decoration: none;
  color: #efe9e9;
}

/*-------*/
/* icons */
/*-------*/
.footer-icon-group {
  display: flex;
  gap: 1rem;
}

.footer-icon {
  color: #efe9e9;;
}

/*--------*/
/* bottom */
/*--------*/
#footer-bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}