/*-----------------*/
/* landing section */
/*-----------------*/

#landing-sctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

#landing-icon-group {
  display: flex;
  gap: 1rem;
}

#landing-text{
  line-height: 1.2;
  gap: 1rem;
}