/*******************/
/* landing section */
/*******************/

#landing-sctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

#landing-cta-btn {
  background-color: #c2cdff;
  color: #1e1e1f;
  font-size: 1.5rem;
}

#landing-cta-btn:hover {
  background-color: #92a5ff;
  border-color: 2px solid #92a5ff;
  color: #efe9e9;
  box-shadow: 0 0 5px #92a5ff;
}