/*------*/
/* grid */
/*------*/
#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.75rem;
    justify-content: center;
}

/*------*/
/* card */
/*------*/
.project-card {
    max-width: 20rem;
    margin: 0 auto;
    border: 1px solid #2a2a2b;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    position: relative;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    overflow: hidden;

    /* glassmorphism effect */
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*--------------*/
/* card content */
/*--------------*/
.project-title {
    padding-top: 0.5rem;
    font-weight: 400;
}

.card-content-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.project-description {
    line-height: 1.2;
}

/*------------*/
/* card image */
/*------------*/
.card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/*------------*/
/* tech label */
/*------------*/
.project-tech {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.tech-label {
    font-size: 0.75rem;
    border: 1px solid #2a2a2b;
    border-radius: 8px;
    padding: 0.05rem 0.25rem;
}

/*------------------*/
/* card link button */
/*------------------*/
.card-button-container {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.card-link {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    color: #2a2a2b;
    text-decoration: none;
    border: 2px solid #2a2a2b;
    border-radius: 8px;
    border-style: solid;
}