/*----------------*/
/* skills section */
/*----------------*/
#skills-heading {
  text-align: center;
}
#table-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: start;
  justify-content: center;
}

table {
  table-layout: fixed;
  border-collapse: separate;
  border: 1px solid;
  border-radius: 8px;
  border-color: #b3b3b3;
  background-color: #efeff5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

th {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  background-color: #d9d9d9;
  border-radius: 7px;
}

td {
  padding: 0.25rem 0.5rem;
  height: 2rem;
}